body{
	background-color: #F2F3F4;
}
#card1{
	position: absolute;
	top: 100px;
	left: 170px;
	width: 75%;
	text-align: left;
}
#cardleft{
	display: inline;
	
}
#cardright{
	float: right;
	border: 0px solid red;
	width: 420px;
	height: 350;
}
#divbuttom{
	background-color: #FDFEFE;
	position: absolute;
	left: 11.5%;
	width: 50%;
	top: 540px;
	height: 80%;
	
}
#card2{
	position: absolute;
	top: 0%;
	right: -50%;
	width: 45%;
	text-align: left;
}
#span1{
	font-size:20px;
}
