<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>发布宝典</title>
<link rel="stylesheet" th:href="@{/layui-v2.4.5/layui/css/layui.css}" />
<script th:src="@{/layui-v2.4.5/layui/layui.all.js}"></script>
<script th:src="@{/layui-v2.4.5/layui/layui.js}"></script>
<script th:src="@{/js/jquery-1.12.4.min.1.js}"></script>
<script type="text/javascript">
layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate;
});
function time(){
	var today = new Date();
	 var h=today.getFullYear();
	 var m=today.getMonth()+1;
	 var d=today.getDate();
	$("#time").val(h+"-"+m+"-"+d);
}
window.onload= time;
</script>
</head>
<body>
	<div id="div1">
	<form class="layui-form" action="addtreasure" method="post">
		  <div class="layui-form-item">
		    <label class="layui-form-label">问题类型:</label>
		    <div class="layui-input-block" style="width:300px;">
		      <input name="userLoginId" type="text" th:value="${session.users.userLoginId}">
		      <select name="labelsId" class="layui-form-item">
		      	<option th:each="l:${label}" th:value="${l.labelsId}" th:text="${l.labelsName}"></option>
		      </select>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">问题名称:</label>
		    <div class="layui-input-block">
		      <input name="bookQuestion" class="layui-input" type="text" placeholder="请输入问题标题" autocomplete="off" lay-verify="required" style="width:300px;">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">问题答案:</label>
		    <div class="layui-input-block">
		      <textarea lay-verify="required" name="bookAnswer" class="layui-textarea" placeholder="请输入问题答案" style="width:500px;"></textarea>
    	    </div>
		  </div>
		 <!--  <div class="layui-form-item">
		    <label class="layui-form-label">发布时间:</label>
		    <div class="layui-input-block">
		      <input name="bookReleaseTime" id="time" class="layui-input" type="text" placeholder="请输入时间" readonly="readonly"  lay-verify="required" style="width:300px;">
		    </div>
		  </div> -->
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" type="submit" >发布</button>
		    </div>
  		  </div>
	</form>
	</div>
</body>
</html>