<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="html">

<head>
		<meta charset="UTF-8">
		<title>在线教育</title>
		<link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css" />
		<link rel="stylesheet" href="/css/PersonalCenter.css" />
		<script src="/layui-v2.4.5/layui/layui.all.js"></script>

		<link  rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css"/>
		<script  src="/js/jquery-1.12.4.min.1.js"></script>
		<script  src="/layui-v2.4.5/layui/layui.all.js"></script>
		<script src="/layui-v2.4.5/layui/layui.js"></script>
		
		<script>
			
		</script>

		<style>
			#update input{
				display: none;
			}
			
		</style>
	</head>
	<body>
		<!-- 水平导航 -->
	
		<ul class="layui-nav layui-bg-green" id="layerDemo" lay-filter="">
			<li class="layui-nav-item"><a href="#"><img src="/img/logo.png" /></a></li>
			<li class="layui-nav-item"><a href=""></a></li>
			<li class="layui-nav-item  layui-this"><a href="/home">首页</a></li>
			<li class="layui-nav-item"><a href="/curr">课程</a></li>
			<li class="layui-nav-item"><a href="">会员</a></li>
			<li class="layui-nav-item"><a href="javascript:;">路线</a></li>
			<li class="layui-nav-item"><a href="/qtTreasureBookinfos">面试宝典</a></li>
			<li class="layui-nav-item"><a href=""></a></li>
			<li class="layui-nav-item"><a href=""></a></li>
			<li class="layui-nav-item"><a href=""></a></li>
			<li class="layui-nav-item"><a href=""></a></li>
			<li class="layui-nav-item"><a href=""></a></li>


			<li class="layui-nav-item">
				<!-- 获取用户的帐号 -->
			</li>
			<li class="layui-nav-item">
				<a href="/out" onclick="exit();" class="layui-nav-item" style="margin-left: 35px; font-size: 16px;">退出</a>
			</li>
		</ul>

		<!-- 左侧导航 -->
		<ul class="layui-nav-tree" align="center" id="leftTopul">
			<li class="layui-nav-item" id="leftTopli">
				<i class="layui-icon layui-icon-file-b"></i>
				<a href="" id="a">个人中心</a>
			</li>
			<li class="layui-nav-item" id="leftTopli">
				<i class="layui-icon layui-icon-read"></i>
				<a href="" id="a">我的课程</a>
			</li>
			<li class="layui-nav-item" id="leftTopli">
				<i class="layui-icon layui-icon-survey"></i>
				<a href="" id="a">我的回答</a>
			</li>
			<li class="layui-nav-item" id="leftTopli">
				<i class="layui-icon layui-icon-component"></i>
				<a href="" id="a">我的收藏</a>
			</li>
			<li class="layui-nav-item" id="leftTopli">
				<i class="layui-icon layui-icon-notice"></i>
				<a href="" id="a">消息中心</a>
			</li>
		</ul>
		<ul class="layui-nav-tree" id="leftBottomul">
			<li class="layui-nav-item" id="leftBottomli">
				<i class="layui-icon layui-icon-username"></i>
				<a href="" id="a">个人信息</a>
			</li>
			<li class="layui-nav-item" id="leftBottomli">
				<i class="layui-icon layui-icon-friends"></i>
				<a href="" id="a">邀请好友</a>
			</li>
			<li class="layui-nav-item" id="leftTopli">
				<i class="layui-icon layui-icon-diamond"></i>
				<a href="" id="a">会员充值</a>
			</li>
		</ul>	
		
		<!-- 右中侧导航 -->	
		<div class="layui-tab layui-tab-brief" id="rightCenterDiv">
			<ul class="layui-tab-title" style="margin-top: 0px;">
				<li class="layui-this" id="li">基本信息</li>
				<li id="li">修改密码</li>
				<li id="li">添加课程</li>
				<li id="li">我的课程</li>
				<li id="li">课程管理</li>
			</ul>
			
			<div class="layui-tab-content" style="height: 200px;">
				
				<!-- 基本信息 -->
				<div class="layui-tab-item layui-show">
					<!-- 修改头像 -->
					<ol class="layui-code-ol">
						<li>
							<label class=""><span id="span">昵&nbsp;&nbsp;称：</span></label>
							<span class="" id="span1" th:if="${session.user ne null}" th:text="${session.admin.UserLoginName}"></span>
						</li><br />
						<li>
							<label class=""><span id="span">姓&nbsp;&nbsp;名：</span></label>
							<span class="" th:if="${session.user ne null}" th:text="${session.user.userName}" id="span1" >没有验证身份</span>
						</li><br />
						<li>
							<label class=""><span id="span">年&nbsp;&nbsp;龄：</span></label>
							<span class="" id="span1" th:if="${session.user ne null}" th:text="${session.user.userAge}">0</span>
						</li><br />
						<li>
							<label class=""><span id="span">手机号：</span></label>
							<span class="" id="span1" th:if="${session.user ne null}" th:text="${session.user.userTel}">13783549754</span>
						</li><br />
						<li>
							<label class=""><span id="span">邮&nbsp;&nbsp;箱：</span></label>
							<span class="" id="span1" th:if="${session.user ne null}" th:text="${session.user.userEmail}">13783549754@163.com</span>
						</li><br />
						<div style="text-align: center;">注：完善信息方便找回密码，账户更安全。</div><br />
						<a class="layui-btn" href="javascript:void(0)" onclick="openDialogUpdateUserInfo()" style="margin-left: 300px;">编 辑 资 料</a>	
					</ol>
				</div>
					
				<!-- 修改密码 -->
				<div class="layui-tab-item">
					<form method="post">
						<input type="hidden" name="user.userId" />
						<ol class="">
							<li>
								<label class=""><span id="span">旧密码</span></label>
								<input type="password" name="oldPassword" id="input" />
							</li><br />
							<li>
								<label class=""><span id="span">新密码</span></label>
								<input type="password" name="confirmPassword" id="input" />
							</li><br />
							<li>
								<label class=""><span style=" color: gainsboro; padding-left: 195px;">密码确认</span></label>
								<input type="password" name="oldPassword" id="input" />
							</li><br />
						</ol>
					</form>
					<a class="layui-btn" href="javascript:void(0)" title="修 改 密 码" onclick="updateUserPwd(); " style="margin-left: 350px;">修改 密 码</a>
				</div>
					
				<!-- 添加课程 -->
				<div class="layui-tab-item">

		<iframe src="/info" width="880px" height="530px"></iframe>

		<script src="js/addCurriculum.js"></script>

				</div>
				
				<!--
            	作者：offline
            	时间：2019-05-08
            	描述：我的课程
            -->
			<div class="layui-tab-item">
				
			</div>
			
			<!--
            	作者：offline
            	时间：2019-05-08
            	描述：课程管理
            -->
			<div class="layui-tab-item" id="update">
				<iframe src="/userCurr" width="880px" height="530px"></iframe>
			</div>
			</div>
			
	</body>
</html>
