<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.net.teaching.mapper.LabelsMapper">
  <resultMap id="BaseResultMap" type="com.zm.net.teaching.domain.Labels">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="labels_id" jdbcType="INTEGER" property="labelsId" />
    <result column="labels_name" jdbcType="VARCHAR" property="labelsName" />
  </resultMap>
</mapper>